body{
    margin: 0;
    padding: 0;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(img/about_0.jpg);
    background-size: 100%;
    background-repeat:repeat;
    text-decoration: none;
    font-weight: bolder;
    
    
    
   
    

}
.container{
    margin: 1% auto;
    width: 100%;
    text-align: center;
    
    
    
    
    
}
.mainav{
  
    color: rgb(34, 11, 207);
    padding: 0% 2%;
    margin-bottom: 5%;
    margin-top: 5%;
    float: left;
    
    
}
.mainav li{
display: inline;
padding: 0% 2%;

margin-left: 0%;
}
.mainav li a{
    text-decoration: none;
    color: rgb(246, 246, 246);
    font-size: 20px;
    
    

}
.mainav li a::cue{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight:bolder;
    font-size: 12px;
    
 
    
}

  .kwoless{
      color: black;
      text-decoration: none;
      padding: 0% 2%;
    margin-top: -825px;
    margin-left: 99%;
    float: right ;
    font-size: 13px;


  }
  .iphone{
      position: absolute;
      margin-top: -121px;
      margin-left: -11%;
  }
.formation{
    float:right ;
    margin-right: 330px;
    margin-top: -813px;
    
}
.beyform{
    position: relative;
    top: 16px;
    left: 10px;
    
}
.carrossel {
    display: online-block;
position: absolute;
    margin-bottom: 100px;
    padding: 1%;
    border-radius: 8em;
margin: 60px;


    
  }
  .contents{
      color:white;
      font-size: 30px;
      margin-top:8% ;
      margin-left:30% ;
  }