
.banana{
    margin-top: -17px;
    
}

h1{
    font-size: 27px;
    background-color: rgb(255, 255, 255);
    border:100px
    
}

body{
    margin: 0;
    padding: 0;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(img/formation.jpg);
    background-size: 100%;
    background-repeat:repeat;
    text-decoration: none;
    font-weight: bolder;
   
    

}
.container{
    margin: 1% auto;
    width: 100%;
    text-align: center
    
    
    
    
}
.mainav{
  
    color: rgb(34, 11, 207);
    padding: 0% 2%;
    margin-bottom: 5%;
    margin-top: 5%;
    float: left;
    
    
}
.mainav li{
display: inline;
padding: 0% 2%;

margin-left: 0%;
}
.mainav li a{
    text-decoration: none;
    color: rgb(246, 246, 246);
    font-size: 20px;
    

}
.mainav li a:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 14px;
 
    
}

.carrossel {
    display: online-block;
position: absolute;
    margin-bottom: 10px;
    padding: 1%;
    border-radius: 8em;
    
  }
  .beyon{
      float: right ;
      margin-top: 600px;
      margin-right: 20px;
  }
  .kwoless{
      color: black;
      text-decoration: none;
      padding: 0% 2%;
    margin-top: -940px;
    margin-left: 99%;
    float: right ;
    font-size: 13px;


  }
  .iphone{
      position: absolute;
      margin-top: -7%;
      margin-left: -11%;
  }

